.app-title {
    text-align: center;
    font-weight: normal;
    user-select: none;
}

.app-title img {
    width: 30px;
    vertical-align: -5px;
}

.van-cell-group img {
    max-width: 90%;
    margin-left: 4%;
}

.app-main-title {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: rgba(69, 90, 100, 0.6);
    padding: 35px 15px 15px;
}

.app-line {
    padding:12px 10px;
}